@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.Passenger.Pages.Passengers.CreateModel

@{
    Layout = "_Create";
}

<body>
    @Html.EditControlsFor(m => m.Item.Name)
    @Html.EditControlsFor(m => m.Item.Age)
    @Html.EditControlsFor(m => m.Item.Address)
</body>

