@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.Passenger.Pages.Passengers.EditModel

@{
    Layout = "_Edit";
}

<body>
    <input type="hidden" asp-for="Item.Id" />
    @Html.EditControlsFor(m => m.Item.Name)
    @Html.EditControlsFor(m => m.Item.Age)
    @Html.EditControlsFor(m => m.Item.Address)
</body>