@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.FlightsPassenger.Pages.FlightsPassengers.CreateModel

@{
    Layout = "_Create";
}

<body>
@Html.EditControlsFor(m => m.Item.Id)
@Html.EditControlsFor(m => m.Item.FlightId)
@Html.EditControlsFor(m => m.Item.PassengersFlightId)
</body>
