@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.FlightsPassenger.Pages.FlightsPassengers.DeleteModel


@{
    Layout = "_Delete";
}

<body>
@Html.DisplayControlsFor(m => m.Item.Id)
@Html.DisplayControlsFor(m => m.Item.FlightId)
@Html.DisplayControlsFor(m => m.Item.PassengersFlightId)
</body>

