@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.FlightsPassenger.Pages.FlightsPassengers.EditModel

@{
    Layout = "_Edit";
}

<body>
<input type="hidden" asp-for="Item.Id" />
@Html.DisabledControlsFor(m => m.Item.FlightId)
@Html.EditControlsForDropDown(m => m.Item.PassengersFlightId, Model.PassengersFlightId)
</body>
