@page
@model Airport.Soft.Pages.BaggageWrappingModel
@{
    ViewData["Title"] = "BAGGAGE WRAPPING";
}

<h1>@ViewData["Title"]</h1>

<div style="width: 100px; float:right; height:200px; margin:70px">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/35/Information_icon.svg/768px-Information_icon.svg.png" width="50" height="50">
    <p>
        OPEN: 04:00-20:00
    </p>
</div>

<p>
    <font size="4">
        In order to avoid stress when flying and to ensure that your baggage arrives at your destination in its original condition, it makes sense to have your baggage wrapped before you fly.
        You can have your suitcase or bag, as well as a pram, bike or other baggage wrapped in plastic film for protection. Depending on the baggage and the customer’s special requests,
        it only takes 1-2 minutes to wrap one piece of baggage.
    </font>
</p>

<img src="https://www.luggage-point.co.uk/wp-content/uploads/2019/08/LP-BW.jpg" width="800" height="400">
<br />
<br />

<p>
    <b>Using the wrapping service will likely prevent any of the following inconveniences:</b>
    <ul>
        <li>theft or unauthorized opening of the baggage,</li>
        <li>the baggage getting dirty in the course of sorting, transportation or loading,</li>
        <li>damage to the outer shell of the baggage when falling off the baggage conveyer or a trolley,</li>
        <li>the suitcase/bag getting wet during loading in rainy weather.</li>
    </ul>
</p>

<p>
    <b>In addition to helping you avoid possible inconveniences, baggage wrapping also provides the following additional benefits:</b>
    <ul>
        <li>
            Packing two or more baggage items as one piece – airlines’ new baggage requirements allow one baggage item of up to 20 kg per passenger. If the passenger has two baggage items, both weighing 10 kg, they would have to pay extra for one of these. However, if you have the two items wrapped together, you can check these in as one piece of baggage.
        </li>
        <li>It is easier to distinguish your baggage from others on the baggage conveyer.</li>

    </ul>
</p>

<b>PRICE LIST:</b>
<ul>
    <li>Suitcase/bag – 10 EUR</li>
    <li>Stroller (small) – 18 EUR</li>
    <li>Pram (large) – 18 EUR</li>
    <li>Bicycle – 18 EUR</li>
    <li>Wrapping two baggage items as one – 18 EUR</li>
    <li>Special baggage – ask the attendant</li>
    <li>Baggage protection «Pack&Fly» – 2 EUR (in case of losing baggage you will get 1000 EUR compensation)</li>
</ul>

<p>
    For the full information about the services, baggage protection terms and special offers klick <a href="http://www.packandfly.eu/">here</a> or call +372 592 311 11.
</p>
