@page
@model Covid19Model

@{
    ViewData["Title"] = "COVID-19";
}

<h1>@ViewData["Title"]</h1>

<p>Find out how to protect yourself and others from COVID-19.</p>
<img src="https://images.app.goo.gl/Jhuwqwg5bhbPo9iV9">

<div class="text-left">
    <h2>HOW CAN I PROTECT MYSELF FROM INFECTION?</h2>
    <dl>
        <dt>Wash your hands</dt>
        <dd>Hands should be washed with soap under running water, alcohol-based hand disinfectants should be used if needed.</dd>
        <dt>Observe good respiratory hygiene</dt>
        <dd>If you sneeze or cough, cover your nose and mouth with a single use tissue. Throw it into the bin immediately after, and then clean your hands. If you do not have a tissue, use your sleeve (the inside of your elbow), but do not use your bare hand.</dd>
        <dt>Avoid contact</dt>
        <dd>Avoid contact with people, who are coughing or sneezing.</dd>
        <dt>Avoid touching your eyes, nose and mouth</dt>
        <dd>Hands touch many surfaces and can pick up viruses. Once contaminated, hands can transfer the virus to your eyes, nose or mouth. From there, the virus can enter your body and can make you sick.</dd>
        <dt>Stay informed and follow the advice</dt>
        <dd>Follow advice given by your healthcare provider, your national and local public health authority or your employer on how to protect yourself and others from COVID-19.</dd>
    </dl>

    <h2>HOIA</h2>
    <p>With the HOIA mobile app, you can quickly find out about possible close contact with a COVID-19 infected person, allowing you to take steps to protect your own health and the health of others.</p>
    <p>The application notifies the user if he has been in close contact with an infected person. The phones of the users of the application exchange anonymous codes, and the state, the manufacturer of the application, or the manufacturer of the phone will not know who was in close contact with whom.</p>
    <p>Download the app by clicking <a href="https://hoia.me/en/">here</a>.</p>

    <h2>HEALTH BOARD</h2>
    <p>Republic of Estonia Health Board acts on behalf of public health and a healthy living environment.</p>
    <table style="width: 100%">
        <caption>In case of any questions don't hesitate to reach out.</caption>
        <tr>
            <th>Health Board email</th>
            <th>The coronavirus crisis hotline </th>
        </tr>
        <tr>
            <td>kesk@terviseamet.ee</td>
            <td>1247 or (+372) 600 1247 <i>(also for calls from abroad)</i></td>
        </tr>
    </table>

    <p>Find more out by clicking <a href="https://www.terviseamet.ee/en">here</a>.</p>

    <b>The latest statistics on the spread of coronavirus</b>
    <ul>
        <li><a href="https://koroonakaart.ee/en">in Estonia</a></li>
        <li><a href="https://who.maps.arcgis.com/apps/opsdashboard/index.html#/ead3c6475654481ca51c248d52ab9c61">in the WHO European Region</a></li>
        <li><a href="https://covid19.who.int/">Global Situation</a></li>
    </ul>
</div>