@page
@model IndexModel
@{
    ViewData["Title"] = "Airport";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Airport!</h1>
    <p><a href="https://www.tallinn-airport.ee/en/">xd</a></p>
</div>
