@page
@model IndexModel
@{
    ViewData["Title"] = "Airport";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Tallinn Airport!</h1>
    <img src="https://media.giphy.com/media/eMmXpS3nHJM4VeJ0o0/giphy.gif">
</div>
