@page
@model RestaurantsModel
@{
    ViewData["Title"] = "RESTAURANTS";
}

<h1>@ViewData["Title"]</h1>
<br />
<p>
    The airport has a variety of places where to spend time
    before your flight and enjoy something tasty.
    The food selection is broad and diverse,
    so we are sure that you’ll find something that
    hits the spot regardless of whether you’re looking
    for a quick nibble or a proper meal!
</p>
<br />
<div class="text-left">
    
</div>
<body>
    <div style="width: 400px; float:left; height:200px; margin:10px">
        <h2>1.VAPIANO</h2>
        <img src="https://nmgprod.s3.amazonaws.com/media/files/46/cd/46cd957b6eb6e23378f3ae561f5128e4/cover_image.jpg.760x400_q85_crop_upscale.jpg" @*alt="Vapiano"*@ width="400" height="200" />
        <p>Eat pasta or pizza, drink wine and feel the atmosphere!</p>
        <p>See their menu <a href="https://ee.vapiano.com/en/menu/">here</a>.</p>
    </div>
    <div style="width: 400px; float:left; height:200px; margin:10px">
        <h2>2.KOHVIK KOMEET</h2>
        <img src="https://blogistaja.files.wordpress.com/2013/05/kohvikkomeet750.jpg" @*alt="Vapiano"*@ width="400" height="200" />
        <p>Our staff makes every effort to ensure you feel at home here. 
            Our goal at Komeet is simple – 
            to be the best cafe in Tallinn – 
            because we care passionately about 
            mother nature, birds, bees, animals, and your health.</p>
        <p>See their menu <a href="https://kohvikkomeet.ee/en/menu/">here</a>.</p>
    </div>
</body> 