@page
@model RestaurantsModel
@{
    ViewData["Title"] = "RESTAURANTS";
}

<h1>@ViewData["Title"]</h1>
<br />
<p>The airport has a variety of places where to spend time 
    before your flight and enjoy something tasty. 
    The food selection is broad and diverse, 
    so we are sure that you’ll find something that 
    hits the spot regardless of whether you’re looking 
    for a quick nibble or a proper meal!</p>
<br />
<div class="text-left">
    <h2>1. VAPIANO</h2>
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.restu.cz%2Fen%2Fvapiano%2F&psig=AOvVaw1dAeadzHxFRtoxGtJ9HfTe&ust=1601720682346000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCMCmlNrYlewCFQAAAAAdAAAAABAJ" @*alt="Vapiano"*@ width="400" height="200" />
    <p>Eat pasta or pizza, drink wine and feel the atmosphere!</p>
    <p>See their menu <a href="https://ee.vapiano.com/en/menu/">here</a>.</p>
</div>