@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.AirportsFlight.Pages.AirportsFlights.CreateModel

@{
    Layout = "_Create";
}

<body>
@Html.EditControlsFor(m => m.Item.Id)
@Html.EditControlsFor(m => m.Item.FlightId)
@Html.EditControlsFor(m => m.Item.AirportId)
</body>

