@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.AirportsFlight.Pages.AirportsFlights.DetailsModel

@{
    Layout = "_Details";
}

<body>
@Html.DisplayControlsFor(m => m.Item.Id)
@Html.DisplayControlsFor(m => m.Item.FlightId)
@Html.DisplayControlsFor(m => m.Item.AirportId)
</body>

@section Details{}
