@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.AirportsFlight.Pages.AirportsFlights.EditModel

@{
    Layout = "_Edit";
}

<body>
<input type="hidden" asp-for="Item.Id" />
@Html.DisabledControlsFor(m => m.Item.Id)
@Html.EditControlsFor(m => m.Item.FlightId)
@Html.EditControlsFor(m => m.Item.AirportId)
</body>tial");}
}
