@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.AirportsFlight.Pages.AirportsFlights.IndexModel

@{
    Layout = "_Index";
    var page = Model.PageUrl;
}


@section Create {
    @Html.HypertextLinkFor(string.Empty, new Link(Constants.CreateNewLinkTitle, $"{page}/Create?fixedFilter={Model.FixedFilter}&fixedValue={Model.FixedValue}"))
}


<body>
    <table class="table">
        <thead>
            @Html.TableHeaderFor(
                new Link(Html.DisplayNameFor(m => m.Item.Id), Model.GetSortString(m => m.Id, page)),
                new Link(Html.DisplayNameFor(m => m.Item.FlightId), Model.GetSortString(m => m.FlightId, page)),
                new Link(Html.DisplayNameFor(m => m.Item.AirportId), Model.GetSortString(m => m.AirportId, page))
                )
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {

                <tr>
                    @Html.TableRowFor(
                        page,
                        item.Id,
                        Model.FixedFilter,
                        Model.FixedValue,
                        Html.DisplayFor(modelItem => item.Id),
                        Html.DisplayFor(modelItem => item.FlightId),
                        Html.DisplayFor(modelItem => item.AirportId))
                </tr>
            }
        </tbody>
    </table>
</body>