@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.PassengerOfFlight.Pages.PassengerOfFlights.DeleteModel


@{
    Layout = "_Delete";
}

<body>
@Html.DisplayControlsFor(m => m.Item.Id)
@Html.DisplayControlsFor(m => m.Item.FlightId)
@Html.DisplayControlsFor(m => m.Item.FlightOfPassengerId)
</body>

