@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.Airport.Pages.Airports.CreateModel

@{
    Layout = "_Create";
}

<body>
@Html.EditControlsFor(m => m.Item.Id)
@Html.EditControlsFor(m => m.Item.Country)
@Html.EditControlsFor(m => m.Item.Phone)
</body>

