@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.Airport.Pages.Airports.DeleteModel

@{
    Layout = "_Delete";
}

<body>
@Html.DisplayControlsFor(m => m.Item.Id)
@Html.DisplayControlsFor(m => m.Item.Country)
@Html.DisplayControlsFor(m => m.Item.Phone)
</body>