@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.Airport.Pages.Airports.EditModel

@{
    Layout = "_Edit";
}

<body>
<input type="hidden" asp-for="Item.Id" />
@Html.EditControlsFor(m => m.Item.Country)
@Html.EditControlsFor(m => m.Item.Phone)
</body>

