@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.Airport.Pages.Airports.IndexModel

@{
    Layout = "_Index";
    var page = Model.PageUrl;
}

@section Create
{
    @Html.HypertextLinkFor(string.Empty, new Link(Constants.CreateNewLinkTitle, $"{page}/Create"))
}

<body>
<table class="table">
    <thead>
        @Html.TableHeaderFor(
            new Link(Html.DisplayNameFor(m => m.Item.Id), Model.GetSortString(m=>m.Id,page)),
            new Link(Html.DisplayNameFor(m => m.Item.Country), Model.GetSortString(x => x.Country, page)),
            new Link(Html.DisplayNameFor(m => m.Item.Phone), Model.GetSortString(x => x.Phone, page)))
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
    {
        <tr>
            @Html.TableRowFor(
                page,
                item.Id,
                Model.FixedFilter,
                Model.FixedValue,
                Html.DisplayFor(modelItem => item.Id),
                Html.DisplayFor(modelItem => item.Country),
                Html.DisplayFor(modelItem => item.Phone))
        </tr>
    }
    </tbody>
</table>
</body>