@page

@model Airport.Soft.Areas.Test.Pages.Tests.IndexModel

@{
 
}

@{
    var departments = ViewData["Departments"] as List<SelectListItem> ?? new List<SelectListItem>();
}
@*<script type="text/javascript">
        $(document).ready(
            alert("aaa")


         //$("#dd1").change(function () {
         //    var dID= $(this).val();
         //    $.getJSON("https://localhost:44361/Test/Tests/LoadPhysiansByDepartment", { deptId: dID },
         //           function (data) {
         //               var select = $("#dd2");
         //               select.empty();
         //               select.append($('<option/>', {
         //                   value: 0,
         //                   text: "Select a Physian"
         //               }));
         //               $.each(data, function (index, itemData) {
         //                   select.append($('<option/>', {
         //                       value: itemData.Value,
         //                       text: itemData.Text
         //                   }));
         //               });
         //           });
         //}); }
    );
    </script>*@
<head>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>

    <p></p>
    <select id="ddlViewBy">
        <option value="1">test1</option>
        <option value="2" selected="selected">test2</option>
        <option value="3">test3</option>
    </select>
    @Html.DropDownList("dd1", new SelectList(departments, "Value", "Text"), "Select a Student", new { id = "dd1" })

    <p>
        @Html.DropDownList("dd2", new SelectList(Enumerable.Empty<SelectListItem>(), "phyID", "phyName"),
        "Select a Physican", new { ida = "physiciansList" })
    </p>

</body>