@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.FlightOfPassenger.Pages.FlightOfPassengers.CreateModel

@{
    Layout = "_Create";
}

<body>
    @Html.EditControlsFor(m => m.Item.PassengerId)
    @Html.EditControlsFor(m => m.Item.StartDestination)    
    @Html.EditControlsFor(m => m.Item.FinalDestination)
    @Html.EditControlsFor(m => m.Item.StopOverId)
</body>