@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.FlightOfPassenger.Pages.FlightOfPassengers.CreateModel

@{
    Layout = "_Create";
}

@section Scripts { }

<body>
    @Html.EditControlsFor(m => m.Item.Id)
    @Html.EditControlsForDropDown(m => m.Item.PassengerId, Model.Passengers)
    @Html.EditControlsForDropDown(m => m.Item.FlightId, Model.Flights)
    @Html.EditControlsForDropDown(m => m.Item.LuggageId, Model.Luggage)
</body>