@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.FlightOfPassenger.Pages.FlightOfPassengers.DetailsModel

@{
    Layout = "_Details";
}

<body>
    @Html.DisplayControlsFor(m => m.Item.Id)
    @Html.DisplayControlsFor(m => m.Item.PassengerId)
    @Html.DisplayControlsFor(m => m.Item.FlightId)
    @Html.DisplayControlsFor(m => m.Item.LuggageId)
</body>
@section Details{}