@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.FlightOfPassenger.Pages.FlightOfPassengers.EditModel

@{
    Layout = "_Edit";
}

@section Scripts { }

<body>
    @Html.DisabledControlsFor(m => m.Item.Id)
    @Html.EditControlsForDropDown(m => m.Item.PassengerId, Model.Passengers)
    @Html.EditControlsForDropDown(m => m.Item.FlightId, Model.Flights)
    @Html.EditControlsForDropDown(m => m.Item.LuggageId, Model.Luggage)
</body>
