@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.FlightOfPassenger.Pages.FlightOfPassengers.IndexModel

@{
    Layout = "_Index";
    var page = Model.PageUrl;

}

@section Create {
    @Html.HypertextLinkFor(string.Empty, new Link(Constants.CreateNewLinkTitle, $"{page}/Create?fixedFilter={Model.FixedFilter}&fixedValue={Model.FixedValue}"))
}


<body>
    <table class="table">
        <thead>
            @Html.TableHeaderFor(
                new Link(Html.DisplayNameFor(m => m.Item.Id), Model.GetSortString(m => m.Id, page)),
                new Link(Html.DisplayNameFor(m => m.Item.PassengerId), Model.GetSortString(m => m.PassengerId, page)),
                new Link(Html.DisplayNameFor(m => m.Item.FlightsPassengerId), Model.GetSortString(m => m.PassengerOfFlightId, page)),
                new Link(Html.DisplayNameFor(m => m.Item.StartDestinationId), Model.GetSortString(m => m.StartDestinationId, page)),
                new Link(Html.DisplayNameFor(m => m.Item.FinalDestinationId), Model.GetSortString(m => m.FinalDestinationId, page))
                )
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {

                <tr>
                    @Html.TableRowFor(
                   page,
                   item.Id,
                   Model.FixedFilter,
                   Model.FixedValue,
                   Html.DisplayFor(modelItem => item.Id),
                   Html.DisplayFor(modelItem => item.PassengerId),
                   Html.DisplayFor(modelItem => item.FlightsPassengerId),
                   Html.DisplayFor(modelItem => item.StartDestinationId),                   
                   Html.DisplayFor(modelItem => item.FinalDestinationId)
                   )
                </tr>
            }
        </tbody>
    </table>

</body>