@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.Luggage.Pages.Luggages.CreateModel

@{
    Layout = "_Create";
}

<body>
    @Html.EditControlsFor(m => m.Item.Id)
    @Html.EditControlsForDropDown(m => m.Item.FlightOfPassengerId, Model.FlightOfPassengers)
    @Html.EditControlsFor(m => m.Item.Dimensions)
    @Html.EditControlsFor(m => m.Item.Weight)
</body>

