@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.Luggage.Pages.Luggages.CreateModel

@{
    Layout = "_Create";
}

@section Scripts { }

<body>
    @Html.EditControlsForDropDown(m => m.Item.PassengerId, Model.Passengers)
    @Html.EditControlsFor(m => m.Item.Name)
    @Html.EditControlsForDropDown(m => m.Item.Dimensions, Model.Dimensions)
    @Html.EditControlsForDropDown(m => m.Item.Weight, Model.Weight)
</body>

