@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.Luggage.Pages.Luggages.DeleteModel

@{
    Layout = "_Delete";
}

<body>
    @Html.DisplayControlsFor(m => m.Item.Id)
    @*@Html.DisplayControlsFor(m => m.Item.FlightOfPassengerId)*@
    @Html.DisplayControlsFor(m => m.Item.Dimensions)
    @Html.DisplayControlsFor(m => m.Item.Weight)
</body>
