@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.Luggage.Pages.Luggages.EditModel

@{
    Layout = "_Edit";
}

<body>
    <input type="hidden" asp-for="Item.Id" />
    @Html.DisabledControlsFor(m => m.Item.Id)
    @Html.EditControlsFor(m => m.Item.FlightOfPassengerId)
    @Html.EditControlsFor(m => m.Item.Dimensions)
    @Html.EditControlsFor(m => m.Item.Weight)
</body>