@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.Luggage.Pages.Luggages.IndexModel

@{
    Layout = "_Index";
    var page = Model.PageUrl;
}


@section Create {
    @Html.HypertextLinkFor(string.Empty, new Link(Constants.CreateNewLinkTitle, $"{page}/Create?fixedFilter={Model.FixedFilter}&fixedValue={Model.FixedValue}"))
}


<body>
    <table class="table">
        <thead>
            @Html.TableHeaderFor(
                new Link(Html.DisplayNameFor(m => m.Item.Dimensions), Model.GetSortString(m => m.Dimensions, page)),
                new Link(Html.DisplayNameFor(m => m.Item.Weight), Model.GetSortString(m => m.Weight, page))
                )
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {

            <tr>
                @Html.TableRowFor(
                    page,
                    item.Id,
                    Model.FixedFilter,
                    Model.FixedValue,
                    Html.DisplayFor(modelItem => item.Dimensions),
                    Html.DisplayFor(modelItem => item.Weight))
            </tr>
            }
        </tbody>
    </table>

</body>