@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.AirlineCompany.Pages.AirlineCompanies.CreateModel

@{
    Layout = "_Create";
}
@section Scripts { }

<body>
    @Html.EditControlsFor(m => m.Item.Name)
    @Html.EditControlsFor(m => m.Item.Address)
</body>
