@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.AirlineCompany.Pages.AirlineCompanies.CreateModel

@{
    Layout = "_Create";
}

<body>
    @Html.EditControlsForDropDownWithId(m => m.Item.Name, Model.Carrier, "Carrier");
    @Html.EditControlsFor(m => m.Item.Address)
</body>
