@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.AirlineCompany.Pages.AirlineCompanies.DeleteModel

@{
    Layout = "_Delete";
}

<body>
    @Html.DisplayControlsFor(m => m.Item.Id)
    @Html.DisplayControlsFor(m => m.Item.Name)
    @Html.DisplayControlsFor(m => m.Item.Address)
</body>
