@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.AirlineCompany.Pages.AirlineCompanies.EditModel

@{
    Layout = "_Edit";
}

@section Scripts { }

<body>
    <input type="hidden" asp-for="Item.Id" />
    @Html.EditControlsFor(m => m.Item.Name)
    @Html.EditControlsFor(m => m.Item.Address)
</body>
