@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.StopOver.Pages.StopOvers.CreateModel

@{
    Layout = "_Create";
}
@section Scripts { }
<body>
    @Html.EditControlsFor(m => m.Item.Country)
    @Html.EditControlsFor(m => m.Item.City)
</body>
