@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.StopOver.Pages.StopOvers.CreateModel

@{
    Layout = "_Create";
}

<body>
@Html.EditControlsFor(m => m.Item.Id)
@Html.EditControlsForDropDown(m => m.Item.FlightId, Model.Flights)
@Html.EditControlsForDropDown(m => m.Item.FlightOfPassengerId, Model.PassengersFlights)
</body>
