@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.StopOver.Pages.StopOvers.EditModel

@{
    Layout = "_Edit";
}

@section Scripts { }

<body>
    <input type="hidden" asp-for="Item.Id" />
    @Html.DisabledControlsFor(m => m.Item.Country)
    @Html.DisabledControlsFor(m => m.Item.City)
</body>
