@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.StopOver.Pages.StopOvers.IndexModel

@{
    Layout = "_Index";
    var page = Model.PageUrl;

}

@section Create {
    @Html.HypertextLinkFor(string.Empty, new Link(Constants.CreateNewLinkTitle, $"{page}/Create?fixedFilter={Model.FixedFilter}&fixedValue={Model.FixedValue}"))
}


<body>
<table class="table">
    <thead>
    @Html.TableHeaderFor(
        new Link(Html.DisplayNameFor(m => m.Item.Id), Model.GetSortString(m => m.Id, page)),
        new Link(Html.DisplayNameFor(m => m.Item.Country), Model.GetSortString(m => m.Country, page)),
        new Link(Html.DisplayNameFor(m => m.Item.City), Model.GetSortString(m => m.City, page))
        )
    </thead>
    <tbody>
    @foreach (var item in Model.Items)
    {

        <tr>
            @Html.TableRowFor(
                page,
                item.Id,
                Model.FixedFilter,
                Model.FixedValue,
                Html.DisplayFor(modelItem => item.Id),
                Html.DisplayFor(modelItem => item.Country),
                Html.DisplayFor(modelItem => item.City)
                )
        </tr>
    }
    </tbody>
</table>
</body>
