@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.AirlinesCompany.Pages.AirlinesCompanies.CreateModel

@{
    Layout = "_Create";
}

<body>
    @Html.EditControlsFor(m => m.Item.Id)
    @Html.EditControlsFor(m => m.Item.Name)
    @Html.EditControlsFor(m => m.Item.Address)
</body>
