@page
@model Airport.Soft.Areas.Flight.Pages.Flights.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FlightData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FlightData.StartingPointId" class="control-label"></label>
                <input asp-for="FlightData.StartingPointId" class="form-control" />
                <span asp-validation-for="FlightData.StartingPointId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlightData.FinalPointId" class="control-label"></label>
                <input asp-for="FlightData.FinalPointId" class="form-control" />
                <span asp-validation-for="FlightData.FinalPointId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlightData.StartTime" class="control-label"></label>
                <input asp-for="FlightData.StartTime" class="form-control" />
                <span asp-validation-for="FlightData.StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlightData.ArrivingTime" class="control-label"></label>
                <input asp-for="FlightData.ArrivingTime" class="form-control" />
                <span asp-validation-for="FlightData.ArrivingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlightData.Occupancy" class="control-label"></label>
                <input asp-for="FlightData.Occupancy" class="form-control" />
                <span asp-validation-for="FlightData.Occupancy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlightData.Company" class="control-label"></label>
                <input asp-for="FlightData.Company" class="form-control" />
                <span asp-validation-for="FlightData.Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlightData.PlaneId" class="control-label"></label>
                <input asp-for="FlightData.PlaneId" class="form-control" />
                <span asp-validation-for="FlightData.PlaneId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="FlightData.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
