@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.Flight.Pages.Flights.IndexModel

@{
    Layout = "_Index";
    var page = Model.PageUrl;

}

@section Create {
    @Html.HypertextLinkFor(string.Empty, new Link(Constants.CreateNewLinkTitle, $"{page}/Create?fixedFilter={Model.FixedFilter}&fixedValue={Model.FixedValue}"))
}


<body>
    <table class="table">
        <thead>
            @Html.TableHeaderFor(
                new Link(Html.DisplayNameFor(m => m.Item.Id), Model.GetSortString(m => m.Id, page)),
                new Link(Html.DisplayNameFor(m => m.Item.StartingPoint), Model.GetSortString(m => m.StartingPoint, page)),
                new Link(Html.DisplayNameFor(m => m.Item.FinalPoint), Model.GetSortString(m => m.FinalPoint, page)),
                new Link(Html.DisplayNameFor(m => m.Item.StartTime), Model.GetSortString(m => m.StartTime, page)),
                new Link(Html.DisplayNameFor(m => m.Item.ArrivingTime), Model.GetSortString(m => m.ArrivingTime, page)),
                new Link(Html.DisplayNameFor(m => m.Item.Occupancy), Model.GetSortString(m => m.Occupancy, page)),
                new Link(Html.DisplayNameFor(m => m.Item.Company), Model.GetSortString(m => m.Company, page)),
                new Link(Html.DisplayNameFor(m => m.Item.Plane), Model.GetSortString(m => m.Plane, page))
                )
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {

                <tr>
                    @Html.TableRowFor(
                        page,
                        item.Id,
                        Model.FixedFilter,
                        Model.FixedValue,
                        Html.DisplayFor(modelItem => item.Id),
                        Html.DisplayFor(modelItem => item.StartingPoint),
                        Html.DisplayFor(modelItem => item.FinalPoint),
                        Html.DisplayFor(modelItem => item.StartTime),
                        Html.DisplayFor(modelItem => item.ArrivingTime),
                        Html.DisplayFor(modelItem => item.Occupancy),
                        Html.DisplayFor(modelItem => item.Company),
                        Html.DisplayFor(modelItem => item.Plane)
                        )
                </tr>
            }
        </tbody>
    </table>

</body>